html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  color: #fff;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  text-align: center;
}

.grains {
  border: 2px solid #a63f38;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

header {
  background-color: #d05c2e;
}

header img {
  display: block;
  width: 40px;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

ul {
  display: flex;
  margin: 0;
  padding-left: 0;
}

.home {
  border: 1px solid #a63f38;
  margin: 0;
  font-size: 1.125rem;
}

.cereals {
  border: 1px solid #a63f38;
  margin: 0;
  font-size: 1.125rem;
}

.legumes {
  border: 1px solid #a63f38;
  margin: 0;
  font-size: 1.125rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
  padding: 0 4em;
}

a:hover {
  background-color: #a63f38;
}
